<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <!-- Links -->
    <ul class="navbar-nav text-white">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/hero">Hero</a>
        </li>
        <li class="nav-item ">
            <p class="nav-item m-0 p-2">{{ projectName }}</p>
        </li>
    </ul>

</nav>